html, body { 
  height:100%; 
  padding:0;
  margin:0;
}
body {
  margin: 0;
  background: #333;
  color:white;
}
a {
  color:white;
}
* {
  font-family: 'Droid Sans', sans-serif;
}
h1{font-size:25px;}
h2{font-size:35px;}
h3{font-size:25px;}
h4{font-size:28px;}
h5{font-size:22px;}
h6{font-size:18px;}

.center {
    text-align: center;
}
.bgimage {
    text-align:right;
    color:white;
    background-size:cover;
    height: 100%;
    background-position: center center;
}

ul[rn-carousel] {
    width:400px;
    height:200px;
    margin: 0 auto;
}

.carousel5 li {
    width:100%;
    height:100%;
    font-size:30px;
    background-color: #ccc;
}

.carousel-demo {
    margin-top:20px;
    display:inline-block;
    text-align: center;
}
.carousel-demo-fullscreen {
  width:100%;
  height:100%;
}
.carousel-demo-fullscreen ul[rn-carousel] {
  width:100%;
  height:100%;
}

input.tiny {
    width:50px;
    text-align:center;
}


.carousel-demo ul[rn-carousel-transition="hexagon"] {
  margin-left:100px;
}

.custom-indicator span {
  transition: all 0.3s ease-in;
}
.custom-indicator span.active {
  color:yellow !important;
}
.slide-image {display: block;}
.slide-image img, .item img{display: block; width: 100%;}
.carousel-demo-fullscreen .slide-caption, .carousel-caption {position: absolute; left: 0; right: 0; bottom: 0; top:0; padding: 20px; background: rgba(0,0,0,0); color: #fff; text-align: left; display: block;}
.carousel-demo-fullscreen .custom-indicator, .carousel-indicators {position: absolute; right: 0; bottom: 22px; width: 100%; left:  0; text-align: center; margin-left: 0;}
.carousel-demo-fullscreen .custom-indicator span, .carousel-indicators li {display: inline-block; width: 10px; height: 10px; background-color:#999; border:1px solid #999; border-radius: 100%;}
.carousel-demo-fullscreen .custom-indicator span.active, .carousel-indicators li.active {background-color:#fff; border:1px solid #fff; width: 10px; height: 10px;margin:0 0 0 0; }
.carousel-demo-fullscreen .rn-carousel-control-prev, .carousel-control .icon-prev {
	background: url(../images/slider-left-icon.png) no-repeat 0 0;
	width: 14px;
	height: 24px;
	cursor: pointer;
	display: none;
  }

.carousel-demo-fullscreen .rn-carousel-control-next, .carousel-control .icon-next {
	background: url(../images/slider-right-icon.png) no-repeat 0 0;
	width: 14px;
	height: 24px;
	cursor: pointer;
	display: none;
  }
  .carousel-demo-fullscreen .rn-carousel-control-prev:before, .carousel-demo-fullscreen .rn-carousel-control-next:before, .carousel-control .icon-next:before, .carousel-control .icon-prev:before{display: none;} 
  .carousel-control {opacity:1;}
  .carousel-control a {cursor: pointer;}
  
  
  
  .carousel-control{width: 35px; height: 58px; top: 50%; bottom: inherit; margin-top: -29px; background: rgba(0,0,0,0.7)!important; z-index:99; text-align: center;}
  .carousel-control.left{background: rgba(0,0,0,0.7)  url(../images/slider-left-icon.png) no-repeat center center !important;}
  .carousel-control.right{background: rgba(0,0,0,0.7)  url(../images/slider-right-icon.png) no-repeat center center !important;}
  .carousel-control span{display: none;}
  #slides_control > div{

}
img{
  margin:auto;
 
}
.mycarousel .carousel-caption .slide-inner-wrap-outer{display: table; width: 100%; height: 100%;}
.mycarousel .carousel-caption .slide-inner-wrap{display: table-cell; text-align: center; vertical-align: middle;}
.mycarousel .carousel-inner .item  span{
 font-size: 14px;
}
.mycarousel .carousel-inner .item  h2{
 margin: 0;
 font-weight: normal;
}
.mycarousel .carousel-inner .item  button{
 background-color: #63a339;
    border: medium none;
    color: #fff;
    font-size: 18px;
    padding: 8px 20px;
	margin-top: 35px;
}